In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd
pd.set_option('display.max_rows', 20000)
# Base folder for the Instacart dataset
BASE_PATH = "/Users/porfirio.tavira/Desktop/COMP_541_Proj/"
#BASE_PATH = "drive/MyDrive/COMP 541/instacart-market-basket-analysis/"

# 1. Orders data
df_orders = pd.read_csv(f"{BASE_PATH}orders.csv")

# 2. Products data
df_products = pd.read_csv(f"{BASE_PATH}products.csv")

# 3. Departments data
df_departments = pd.read_csv(f"{BASE_PATH}departments.csv")

#4. Aisles
df_aisles = pd.read_csv(f"{BASE_PATH}aisles.csv")

#5. Order Products Train
df_order_products_train = pd.read_csv(f"{BASE_PATH}order_products__train.csv")

In [5]:
display(df_orders)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [6]:
display(df_products)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
...,...,...,...,...
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [7]:
display(df_departments)

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [ ]:
#Looking at all the beverages
df_beverages = df_products[df_products['product_name'].str.contains('beverage', case=False)]
#Getting all the products that have electrolytes
df_electrolytes = df_products[df_products['product_name'].str.contains('electrolyte', case=False)]
display(df_electrolytes)

In [26]:
display(df_aisles)

     aisle_id                          aisle
0           1          prepared soups salads
1           2              specialty cheeses
2           3            energy granola bars
3           4                  instant foods
4           5     marinades meat preparation
5           6                          other
6           7                  packaged meat
7           8                bakery desserts
8           9                    pasta sauce
9          10               kitchen supplies
10         11               cold flu allergy
11         12                    fresh pasta
12         13                 prepared meals
13         14         tofu meat alternatives
14         15               packaged seafood
15         16                    fresh herbs
16         17             baking ingredients
17         18   bulk dried fruits vegetables
18         19                  oils vinegars
19         20                   oral hygiene
20         21                packaged cheese
21         22                      hair care
22         23                  popcorn jerky
23         24                   fresh fruits
24         25                           soap
25         26                         coffee
26         27                  beers coolers
27         28                      red wines
28         29          honeys syrups nectars
29         30                   latino foods
30         31                   refrigerated
31         32               packaged produce
32         33                   kosher foods
33         34            frozen meat seafood
34         35                poultry counter
35         36                         butter
36         37                  ice cream ice
37         38                   frozen meals
38         39                seafood counter
39         40                  dog food care
40         41                  cat food care
41         42        frozen vegan vegetarian
42         43                     buns rolls
43         44                   eye ear care
44         45                candy chocolate
45         46                       mint gum
46         47           vitamins supplements
47         48        breakfast bars pastries
48         49               packaged poultry
49         50         fruit vegetable snacks
50         51         preserved dips spreads
51         52               frozen breakfast
52         53                          cream
53         54                    paper goods
54         55                    shave needs
55         56                  diapers wipes
56         57                        granola
57         58           frozen breads doughs
58         59             canned meals beans
59         60              trash bags liners
60         61                  cookies cakes
61         62                    white wines
62         63        grains rice dried goods
63         64           energy sports drinks
64         65      protein meal replacements
65         66                    asian foods
66         67           fresh dips tapenades
67         68   bulk grains rice dried goods
68         69            soup broth bouillon
69         70                      digestion
70         71  refrigerated pudding desserts
71         72                     condiments
72         73                    facial care
73         74                dish detergents
74         75                        laundry
75         76                   indian foods
76         77                    soft drinks
77         78                       crackers
78         79                   frozen pizza
79         80                     deodorants
80         81       canned jarred vegetables
81         82               baby accessories
82         83               fresh vegetables
83         84                           milk
84         85                   food storage
85         86                           eggs
86         87                 more household
87         88                        spreads
88         89        salad dressing toppings
89         90              cocoa drink mixes
90         91                soy lactosefree
91         92              baby food formula
92         93               breakfast bakery
93         94                            tea
94         95            canned meat seafood
95         96                     lunch meat
96         97          baking supplies decor
97         98                  juice nectars
98         99        canned fruit applesauce
99        100                        missing
100       101         air fresheners candles
101       102            baby bath body care
102       103             ice cream toppings
103       104              spices seasonings
104       105     doughs gelatins bake mixes
105       106         hot dogs bacon sausage
106       107                 chips pretzels
107       108           other creams cheeses
108       109                      skin care
109       110           pickled goods olives
110       111     plates bowls cups flatware
111       112                          bread
112       113                   frozen juice
113       114              cleaning products
114       115  water seltzer sparkling water
115       116                 frozen produce
116       117         nuts seeds dried fruit
117       118                      first aid
118       119                 frozen dessert
119       120                         yogurt
120       121                         cereal
121       122                   meat counter
122       123     packaged vegetables fruits
123       124                        spirits
124       125            trail mix snack mix
125       126                  feminine care
126       127              body lotions soap
127       128           tortillas flat bread
128       129        frozen appetizers sides
129       130       hot cereal pancake mixes
130       131                      dry pasta
131       132                         beauty
132       133     muscles joints pain relief
133       134     specialty wines champagnes

In [27]:
display(df_order_products_train)

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

Ideas/Questions to ask:

Are people prepared for their hangover?

    -Do they purchase items that would ease a hangover beforehand or after?

    -Electrolyte beverages are purchased in ones most of the time. Maybe they are only purchased after alcohol orders???


Do items purchased influence a person's chance of ordering on instacart again?

    -NAN days since prior orders are not in the orders train dataset????
    -Gonna try to use an arbitrary "long time" until they order again



What else do you buy if you’re sick?

In [34]:
# Getting all orders where there is no prior order
df_no_prior = df_orders[df_orders['days_since_prior_order'].isna()]
display(df_no_prior)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,969311,206205,prior,1,4,12,NaN
3420934,3189322,206206,prior,1,3,18,NaN
3421002,2166133,206207,prior,1,6,19,NaN
3421019,2227043,206208,prior,1,1,15,NaN
3421069,3154581,206209,prior,1,3,11,NaN

In [43]:
# Getting all the products from the orders in df_no_prior
df_no_prior_products = df_order_products_train[
    df_order_products_train['order_id'].isin(df_no_prior['order_id'])
]

# Merge with df_products to get product details
df_no_prior_products = df_no_prior_products.merge(
    df_products[['product_id', 'product_name']], on='product_id', how='left'
)

# Display the resulting DataFrame
display(df_no_prior_products)

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered, product_name]
Index: []

In [24]:
#Looking at all the beverages
df_beverages = df_products[df_products['product_name'].str.contains('beverage', case=False)]
#Getting all the products that have electrolytes
df_electrolytes = df_products[df_products['product_name'].str.contains('electrolyte', case=False)]
display(df_electrolytes)

,product_id,product_name,aisle_id,department_id
1209,1210,G2 Thirst Quencher Grape Electrolyte Beverage,64,7
6409,6410,Oral Electrolyte Maintenance Solution Grape,92,18
7113,7114,Recharge Thirst Quencher With Electrolytes Grape,98,7
7549,7550,Electrolyte Stamina Power Pak 1200mg - Lemon Lime,65,11
8409,8410,Electrolyte Hydrator Pomberry,65,11
12107,12108,Kiwi Strawberry with Electrolytes & Vitamins W...,64,7
12304,12305,Unflavored with Electrolytes Water,115,7
13560,13561,Electrolyte Stamina Power Pak 1200 mg Vitamin ...,65,11
13607,13608,Oral Electrolyte Powder Assorted Flavors,6,2
13717,13718,Grape with Electrolytes & Vitamins Water Beverage,64,7
14034,14035,Pediatric Fruit Flavor Electrolyte Solution,47,11
14407,14408,Unflavored Oral Electrolyte Solution,92,18
14920,14921,Electrolyte Replacement Drink Mix Natural Lemo...,11,11
15130,15131,Lemon with Electrolytes & Vitamins Water Beverage,64,7
15208,15209,Citrus Electrolyte Tabs,90,7
15801,15802,Oral Electrolyte Solution Strawberry,92,18
18500,18501,Mandarin Orange with Electrolytes & Vitamins W...,64,7
18808,18809,Pediatric Electrolyte Fruit Flavor Natural & A...,6,2
19165,19166,Zero Drops Mountain Berry Blast Flavor Enhance...,90,7
19604,19605,G2 Lemon-Lime Low Calorie Electrolyte Beverage,64,7
23649,23650,Electrolyte Water,115,7
25453,25454,Electrolyte Hydrator Berry,65,11
26164,26165,Electrolyte Enhanced Water,115,7
26416,26417,Grape Flavor Pediatric Electrolyte With Zinc,92,18
27255,27256,Active Effervescent Electrolyte Supplement Sug...,31,7
27984,27985,Smartwater Electrolyte Enhanced Water,115,7
28267,28268,Sport Electrolyte Hydrator Berry Powder Dietar...,47,11
30410,30411,Organic Lemon Flavor Recharge Thirst Quencher ...,98,7
30526,30527,Ph 9+Purified Water With Electrolytes,115,7
31096,31097,Pediatric Electrolyte Strawberry Flavor,92,18
31493,31494,Unflavored Pediatric Electrolyte,6,2
32668,32669,"Electrolyte Solution, Pediatric, Apple Flavor",98,7
32898,32899,Coco Hydro Original Electrolyte Drink Mix,65,11
33419,33420,Tangerine Ginger Vitamin & Electrolyte Enhance...,64,7
33911,33912,Peach with Electrolytes & Vitamins Water Beverage,64,7
36106,36107,smartwater® Electrolyte Enhanced Water,115,7
36232,36233,Water With Electrolytes,100,21
36701,36702,Active Electrolyte Enhanced Drink Tabs 10 Serv...,47,11
37678,37679,Electrolyte Power Pak Acai Berry Packet,47,11
39679,39680,AdvanceCare Oral Electrolyte Solution - Cherry...,92,18
40588,40589,Lemonlime Electrolyte Tabs,90,7
42945,42946,Electro Mix Electrolyte Replacement Lemon-Lime...,47,11
43010,43011,Freezer Pops Assorted Flavors Oral Electrolyte...,92,18
43984,43985,Tropical Fruit Electrolyte Solution,6,2
44841,44842,Blueberry Pomegranate with Electrolytes & Vita...,64,7
45817,45818,Pediatric Electrolyte Solution with Zinc Grape,6,2
48086,48087,Lemon Lime Electrolyte Hydrator,65,11
48425,48426,Alkalized Water With Electrolytes,115,7
48652,48653,Electrolyte Hydrator Lemon Lime,65,11
48789,48790,Oral Electrolyte Solution Mixed Fruit,92,18

In [25]:
#Getting all electrolytes beverages and getting all the orders that have them
df_electrolytes_orders = df_order_products_train[df_order_products_train['product_id'].isin(df_electrolytes['product_id'])]
#Adding the product name to the orders dataframe
df_electrolytes_orders = df_electrolytes_orders.merge(df_products[['product_id', 'product_name']], on='product_id', how='left')
#Getting all the orders that have electrolytes beverages
df_electrolytes_orders = df_order_products_train[df_order_products_train['product_id'].isin(df_electrolytes['product_id'])]
#Calulate total electrolyte beverages ordered on each order
df_electrolytes_orders = df_electrolytes_orders.groupby('order_id').agg({'add_to_cart_order': 'count'}).reset_index()
#Renaming the column
df_electrolytes_orders.rename(columns={'add_to_cart_order': 'total_electrolyte_beverages'}, inplace=True)
#Sort them in descending order
df_electrolytes_orders = df_electrolytes_orders.sort_values(by='total_electrolyte_beverages', ascending=False)
#Getting the top 100 orders with the most electrolyte beverages
df_electrolytes_orders = df_electrolytes_orders.head(100)
display(df_electrolytes_orders)

      order_id  total_electrolyte_beverages
1713   3406661                            4
522     985918                            3
689    1299411                            3
841    1605325                            3
1068   2085465                            3
1531   3057244                            3
303     572454                            3
396     754776                            3
136     258910                            3
104     198201                            3
1003   1959860                            2
1230   2394936                            2
1052   2057720                            2
1222   2379758                            2
808    1539583                            2
1167   2285782                            2
1223   2382468                            2
1642   3291644                            2
1569   3139770                            2
526     991866                            2
1571   3147303                            2
701    1321028                            2
1165   2283487                            2
756    1440182                            2
941    1833408                            2
1132   2221284                            2
65      118947                            2
937    1827052                            2
1575   3148516                            2
629    1184071                            2
507     961980                            2
749    1424130                            2
309     589910                            2
387     736941                            2
971    1891657                            2
191     360793                            2
329     639643                            2
357     686752                            2
1031   2018392                            2
130     247231                            2
361     691746                            2
174     332222                            2
1379   2723360                            2
1418   2815816                            2
1556   3110882                            2
1038   2027186                            2
184     347243                            2
603    1140392                            2
981    1909779                            2
548    1032626                            2
1207   2354281                            2
108     206224                            2
1670   3331220                            2
103     195940                            2
542    1015080                            2
631    1185622                            2
1105   2161749                            2
1513   3017180                            2
1698   3386313                            2
639    1196877                            2
236     441513                            2
677    1279847                            2
441     821593                            2
860    1635183                            2
675    1274770                            2
1463   2900553                            2
241     452049                            2
54      100179                            2
21       49669                            2
850    1620270                            2
899    1735597                            2
663    1245945                            2
458     859180                            2
11       32675                            2
1278   2507338                            2
879    1683669                            2
891    1708514                            2
1281   2509949                            2
1721   3418551                            2
1688   3371597                            2
581    1103829                            2
1506   3003358                            2
425     799354                            2
428     802450                            2
1455   2888484                            2
1510   3007747                            2
229     431314                            2
285     540339                            2
1127   2209180                            2
1170   2291566                            1
1169   2291112                            1
1158   2276106                            1
1114   2183736                            1
1113   2183382                            1
1112   2181032                            1
1159   2277254                            1
1160   2277868                            1
1111   2179357                            1
1173   2296452                            1
1161   2277891                            1

In [56]:
#Sorting order by prior order days in descending order
df_orders = df_orders.sort_values(by='days_since_prior_order', ascending=False)
#Getting the top 100 orders with the most days since prior order
df_top_100_orders = df_orders.head(100)
#Getting all orders that have days since prior order 2 weeks or more
df_old_orders = df_orders[df_orders['days_since_prior_order'] >= 28]
display(df_old_orders)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3421082,272231,206209,train,14,6,14,30.0
2380061,2057508,143238,prior,8,0,12,30.0
1403791,1354266,84340,prior,13,6,12,30.0
2380102,1270738,143239,prior,2,0,18,30.0
2380104,3281266,143239,prior,4,1,8,30.0
...,...,...,...,...,...,...,...
1636248,905353,98229,prior,7,3,14,28.0
3241420,1083121,195378,prior,4,3,12,28.0
1624541,2815054,97537,prior,21,5,21,28.0
2012756,411037,120942,prior,3,3,12,28.0
2012157,2341122,120901,prior,5,1,20,28.0

In [61]:
#Getting all products for the orders in df_old_orders
df_old_orders_products = df_order_products_train[df_order_products_train['order_id'].isin(df_old_orders['order_id'])]
#Display the resulting DataFrame
df_old_orders_products = df_old_orders_products.merge(
    df_products[['product_id', 'product_name']], on='product_id', how='left'
)
# Display the resulting DataFrame
#display(df_old_orders_products)

#Get top 100 products ordered in the old orders
df_top_100_old_orders = df_old_orders_products.groupby('product_name').agg({'order_id': 'count'}).reset_index()
#Creating new DF to store the top 10 products
df_top_100_old_orders = df_top_100_old_orders.sort_values(by='order_id', ascending=False).head(100)
#Renaming the columns
df_top_100_old_orders.rename(columns={'order_id': 'total_orders'}, inplace=True)
#Sorting the dataframe by total orders in descending order
df_top_10_old_orders = df_top_100_old_orders.sort_values(by='total_orders', ascending=False)
#Display the resulting DataFrame
display(df_top_100_old_orders)

                                         product_name  total_orders
2074                                           Banana          5708
1941                           Bag of Organic Bananas          4196
16691                            Organic Baby Spinach          3076
18876                            Organic Strawberries          2882
12949                                     Large Lemon          2752
16666                                 Organic Avocado          2201
25477                                    Strawberries          2074
17727                            Organic Hass Avocado          2025
13564                                           Limes          1991
16807                             Organic Blueberries          1501
18471                             Organic Raspberries          1407
19279                              Organic Whole Milk          1363
19376                                Organic Zucchini          1360
19347                            Organic Yellow Onion          1356
17518                                  Organic Garlic          1333
29182                                   Yellow Onions          1329
16674                            Organic Baby Carrots          1218
17237                                Organic Cucumber          1203
18534                               Organic Red Onion          1173
23615                             Seedless Red Grapes          1162
24919                      Sparkling Water Grapefruit          1135
6760                                   Cucumber Kirby          1093
17615                          Organic Grape Tomatoes          1085
17927                                   Organic Lemon          1032
17081                                Organic Cilantro          1019
17503                              Organic Fuji Apple          1008
11839                                Honeycrisp Apple          1006
1687                                        Asparagus          1004
22142                                     Raspberries           959
16670                            Organic Baby Arugula           928
24327                              Small Hass Avocado           893
19669                                 Original Hummus           893
9123                                Fresh Cauliflower           891
22452                                     Red Peppers           882
3877                                          Carrots           867
14603                           Michigan Organic Kale           861
3172                                   Broccoli Crown           847
18718                      Organic Small Bunch Celery           845
10777                               Green Bell Pepper           811
17511                             Organic Gala Apples           808
17828                   Organic Italian Parsley Bunch           772
298                            100% Whole Wheat Bread           768
2812                                      Blueberries           763
22486                                 Red Vine Tomato           761
17715                             Organic Half & Half           760
16792                            Organic Blackberries           755
1468                         Apple Honeycrisp Organic           751
19030                          Organic Tomato Cluster           751
17913            Organic Large Extra Fancy Fuji Apple           740
11241                                   Hass Avocados           738
3340                                 Bunched Cilantro           733
25207                                    Spring Water           715
8307                           Extra Virgin Olive Oil           706
18314               Organic Peeled Whole Baby Carrots           703
18512                         Organic Red Bell Pepper           701
17532               Organic Garnet Sweet Potato (Yam)           696
9663                                           Garlic           695
19103                 Organic Unsweetened Almond Milk           680
17544                             Organic Ginger Root           678
2972                Boneless Skinless Chicken Breasts           669
11081                                     Half & Half           665
27676                          Unsweetened Almondmilk           658
13559                            Lime Sparkling Water           657
16404                              Orange Bell Pepper           654
12426                                Jalapeno Peppers           650
23001                                     Roma Tomato           640
17611                      Organic Granny Smith Apple           606
22440                                       Red Onion           579
24888                 Sparkling Natural Mineral Water           569
24565                                            Soda           563
19305                     Organic Whole String Cheese           556
27565                            Uncured Genoa Salami           550
12922                             Large Alfresco Eggs           547
17904                Organic Lacinato (Dinosaur) Kale           546
21852                               Pure Irish Butter           536
16938                            Organic Carrot Bunch           527
17604     Organic Grade A Free Range Large Brown Eggs           515
16769                             Organic Black Beans           513
10818                                    Green Onions           512
16716                                  Organic Banana           508
9179                                Fresh Ginger Root           508
10690                                 Grated Parmesan           499
27608                                 Unsalted Butter           492
18182                            Organic Navel Orange           490
17896                                    Organic Kiwi           489
8569                             Feta Cheese Crumbles           485
17250                           Organic D'Anjou Pears           481
27707  Unsweetened Original Almond Breeze Almond Milk           478
10601                             Granny Smith Apples           466
24881                           Sparkling Lemon Water           464
23084                                   Russet Potato           464
414                               2% Reduced Fat Milk           456
10642                      Grape White/Green Seedless           448
23795                            Sharp Cheddar Cheese           447
18551                     Organic Reduced Fat 2% Milk           445
16844                                Organic Broccoli           445
11238                                    Hass Avocado           441
18801                              Organic Spring Mix           438
23920                               Shredded Parmesan           429
16848                        Organic Broccoli Florets           422

***PEOPLE USE INSTACART TO BUY PRODUCE AFTER ABOUT A MONTH OF NOT USING IT***